<launch>
    <arg name="model" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find tracer_description)/urdf/tracer_v1_myarm.xacro'" />
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group>
    <!-- 用于rplidar_ros节点，后面同理不再赘述-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.125 0.00 0.12 3.14 0 0  base_footprint laser 100" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find myarm_m)/config/mc_embodied.rviz" />
</launch>
