<launch>
  <!-- <include file="$(find tracer_bringup)/launch/tracer_robot_base.launch" /> -->
  <include file="$(find ranger_bringup)/launch/ranger_mini_v2.launch" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find ranger_mini_v3)/urdf/ranger_mini.xacro'" />
        <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- 用于robot_state_publisher节点-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" /> -->

  <!--坐标变换，需要实测 -->
  <!--阿克曼系列 -->
  <!-- car_mode and tf  mini_akm-->
  <group>
   <!-- 用于rplidar_ros节点，后面同理不再赘述-->
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.125 0.00 0.12 3.14 0 0  base_footprint laser 100" />
  </group>

  <!-- <include file="$(find tracer_bringup)/launch/tracer_lidar.launch" /> -->
  <include file="$(find ranger_bringup)/launch/ranger_lidar.launch" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find tracer_navigation)/rviz/ranger_mapping.rviz" />

</launch>